{{#extends "base"}}
{{#block "content"}}
<h1 class="secondaryColor">Manage orders</h1>
<table class="table mt-3">
    <form method="GET">
   {{{form}}}
    <input type="submit" class="mb-3 mt-3 btn-sm addProductBtn" value="Search order"/>
    <a href="/orders" class="mb-3 ms-3 mt-3 resetSearchBtn">Reset order</a>
    
</form>
    <thead>
        <tr>
            <th>#</th>
            <th>Order_date</th>
            <th>Product_name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Image</th>
            <th>Customer_name</th>
            <th>Customer_email</th>
            <th>Customer_address</th>
            <th>Order_status</th>
            <th>Owner_Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.order_date}}</td>
            <td>{{this.product.name}}</td>
            <td>${{this.product.price}}</td>
            <td>X{{this.quantity}}</td>
            <td>
                {{#if this.product.image_url }}
                    <img src="{{this.product.image_url}}" style="width: 3rem"/>
                    {{else}}
                    <img src="" style="display:none"/>
                {{/if}}
            </td>
            <td>
                {{this.user.username}}
            </td>
            <td>
                {{this.user.email}}
            </td>
            <td>
                {{this.shipping_address}}
            </td>
            <td>
                {{!-- {{this.order_status}} --}}
                <form method="POST" action="/orders/orderstatus/{{this.id}}/update">
                   <input type="hidden" value="{{../csrfToken}}" name="_csrf"/> 
                 
                    <input type="text" name="order_status" value="{{this.order_status}}" style="width:7rem" /> 
                    <input type="submit" value="update" class="resetSearchBtn btn-sm mt-2" />
                    {{!-- <button class="secondaryColor"><i class="fa-solid fa-pen-to-square"></i></button> --}}
                </form>
            </td>
            <td>
                {{!-- <a href="/products/{{this.id}}/update">update</a> --}}
                <a href="/orders/{{this.id}}/delete" class="accentThreeColor"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}