{{#extends "base"}}
{{#block "content"}}
<main class="tableContent">
    <div class="d-flex align-items-center justify-content-between">
            <h1 class="secondaryColor">Manage products</h1>

    <section class="d-flex flex-column">
         <a href="/products/create" class="btn-sm addProductBtn pdBtnWidth d-flex align-items-center">
            <i class="fa-solid fa-circle-plus">
            </i>
            <span class="ms-1">Add product</span>
        </a>
    {{!-- <a class="ms-5" href="/users/logout">log out</a> --}}
        <a class="mt-2 btn btn-success d-flex align-items-center pdBtnWidth" href="/cart">
            <i class="fa-solid fa-basket-shopping me-2"></i>
            <span>Staff cart</span>
        </a>
    </section>
    </div>

       
<table class="table mt-5">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Description</th>
            <th>Flavour</th>
            <th>Type</th>
            <th>Ingredient</th>
            <th>Image</th>
            <th>Action</th>
            <th>Staff</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>${{this.price}}</td>
            <td>{{this.description}}</td>
            <td>{{this.flavour.flavour}}</td>
            <td>{{this.type.type}}</td>
            <td>{{#each this.ingredients}}
                <span> <i class="fa-solid fa-circle-check me-1"></i>{{this.ingredient}}</span>
                {{/each}}
            </td>
            <td>
                {{#if this.image_url }}
                    <img src="{{this.image_url}}" style="width: 3rem"/>
                    {{else}}
                    <img src="" style="display:none"/>
                {{/if}}
            </td>
            <td>
                {{!--add to cart btn  --}}
                <a href="/products/{{this.id}}/update" class="secondaryColor"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="/products/{{this.id}}/delete" class="ms-2 accentThreeColor"><i class="fa-solid fa-trash-can"></i></a>
            </td>
            <td>
                     <a href="/cart/{{this.id}}/add" class="btn btn-success staffPurchase">purchase</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

</main>
{{/block}}
{{/extends}}