{{#extends "base"}}
{{#block "content"}}
<h1>Manage products</h1>
<table class="table">
    <a href="/products/create">Add a product</a>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Description</th>
            <th>Flavour</th>
            <th>Type</th>
            <th>Ingredient</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>${{this.price}}</td>
            <td>{{this.description}}</td>
            <td>{{this.flavour.flavour}}</td>
            <td>{{this.type.type}}</td>
            <td></td>
            <td>
                <a href="/products/{{this.id}}/update">update</a>
                <a href="/products/{{this.id}}/delete">delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}